<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Smart_Magerun::smart_magerungrid_main" title="Magerun" translate="title" sortOrder="40" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
